<div class="flex flex-col h-screen mr-4">
  <div class="container-nav flex flex-col flex-1 text-xl">
    <div class="twitter-logo">
      <img class="w-11 h-11 p-1 rounded-full cursor-pointer duration-200 hover:bg-neutral-800" src="assets/twitter-logo.png" alt="Logo do Twitter">
    </div>
    <nav class="mt-2 mb-3">
      <ul class="flex flex-col gap-2">
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="home"></lucide-icon>
          <a href="#">Home</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="hash"></lucide-icon>
          <a href="#">Explore</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="bell"></lucide-icon>
          <a href="#">Notifications</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="mail"></lucide-icon>
          <a href="#">Messages</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="bookmark"></lucide-icon>
          <a href="#">Bookmarks</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="twitter"></lucide-icon>
          <a href="#">Twitter Blue</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="user"></lucide-icon>
          <a href="#">Profile</a>
        </li>
        <li class="p-2 flex items-center gap-3 duration-200 hover:bg-neutral-800 rounded-3xl cursor-pointer">
          <lucide-icon name="more-horizontal"></lucide-icon>
          <a href="#">More</a>
        </li>
      </ul>
    </nav>
    <div class="tweet-button">
      <button (click)="openModalNewPost()" class="w-full p-3 bg-sky-500 border border-sky-600 font-bold text-base rounded-3xl duration-200 hover:opacity-90">Tweet</button>
    </div>
  </div>
  <div>
    <p class="mb-1 text-center text-xs text-gray-500">Criado por</p>
    <a href="https://github.com/joaoliveirapb" target="_blank" class="flex justify-around items-center mb-4 py-1 cursor-pointer duration-200 hover:bg-neutral-800 rounded-3xl">
      <app-avatar firstLetterOfTheName="J"></app-avatar>
      <div class="user-name">
        <p>João</p>
        <span class="text-sm text-gray-500">@joaoliveirapb</span>
      </div>
      <div class="more-options text-sm">
        •••
      </div>
    </a>
  </div>

  <div *ngIf="modalNewPost" (click)="closeModalWhenClickOut($event)" id="modal" class="fixed inset-0 bg-white/10 flex justify-center items-center">
    <div class="h-max w-1/4 py-2 bg-neutral-950 rounded-xl">
      <button (click)="closeModalNewPost()" class="flex ml-1 p-1 w-7 h-7 rounded-full hover:bg-neutral-800"><lucide-icon name="x"></lucide-icon></button>
      <app-new-post lines="4"></app-new-post>
    </div>
  </div>
</div>