<div class="px-3 py-2">
  <div class="flex gap-1">
    <app-avatar></app-avatar>
    <div class="flex-1">
      <textarea
        [rows]="rows"
        [maxlength]="tweetMaxLength"
        class="w-full p-2 bg-transparent rounded-md resize-none appearance-none focus:outline-none focus:bg-neutral-800"
        placeholder="What's happening?"
        [(ngModel)]="tweetMessage"
        (input)="showTweetLimitCount()"
        (click)="showDividerAndIncreaseRows()"
      ></textarea>

      <div *ngIf="showDivider" class="mt-1 mb-3 border-b-[1px] border-gray-700"></div>
    </div>
  </div>
  <div class="flex justify-between items-center gap-3">
    <div class="icons ml-12">
      <ul class="flex gap-2">
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full cursor-pointer hover:bg-sky-950"><lucide-icon name="image"></lucide-icon></li>
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full cursor-pointer hover:bg-sky-950"><lucide-icon name="laugh"></lucide-icon></li>
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full cursor-pointer hover:bg-sky-950"><lucide-icon name="list"></lucide-icon></li>
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full cursor-pointer hover:bg-sky-950"><lucide-icon name="smile"></lucide-icon></li>
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full cursor-pointer hover:bg-sky-950"><lucide-icon name="calendar-clock"></lucide-icon></li>
        <li class="flex w-7 h-7 p-1 text-sky-500 rounded-full opacity-50"><lucide-icon name="map-pin"></lucide-icon></li>
      </ul>
    </div>
    <div class="flex items-center gap-3">
      <div class="count-chars">
        <span *ngIf="showCountChars" class="text-xs text-gray-400">{{ tweetRemaining }}</span>
      </div>
      <div class="tweet-button">
        <button (click)="postTweet()" class="py-1 px-4 bg-sky-500 border border-blue-500 font-semibold rounded-3xl duration-200 hover:opacity-90">Tweet</button>
      </div>
    </div>
  </div>
</div>